/* CSS for card container */
.row {
    overflow-x: auto; /* Enable horizontal scrollbar if cards exceed container width */
    white-space: nowrap; /* Prevent cards from wrapping to the next line */
  }
  
/* CSS for each card */
.card {
    width: 300px; /* Increase the width to accommodate longer titles */
    margin-right: 10px; /* Add margin between cards */
    display: inline-block; /* Display cards inline */
  }
  
  /* CSS for the card title */
  .card-title {
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
    white-space: nowrap; /* Prevent text from wrapping */
    max-width: 100%;}
  
  /* CSS for the card image */
  .card img {
    width: 100%; /* Make the image fill the entire width of the card */
    height: auto; /* Maintain aspect ratio */
  }
  
  /* CSS for description modal */
  .modal {
    max-width: 80%; /* Adjust the maximum width of the modal */
  }

  .content{
    display:flex;
    flex-wrap: wrap;
  }