
:root {
  --lblue: #538AC3;
  --lgrey: #E0E1EA;
  --black: #0B0C13;
}
body { 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkgray;
    height:100%
  }

header {
  position: relative; /* Establishes a positioning context for absolute elements inside */
  width: 100%;
  height: 300px; /* Adjust this as needed */
  overflow: hidden;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the full area */
}

.header-text {
  position: absolute; 
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Ensures perfect centering */
  color: white; /* Makes text visible against darker images */
  font-size: 3em; /* Adjust font size as needed */
  text-align: center; /* Centers the text horizontally */
  font-family: "Orbitron";
}



  footer { 
    background: #3b3b3b; 
    padding: 10px; 
    text-align: center; 
    width: 100%;
  }
  .main-body { /* Flex container */
    display: flex;
  }
   .sidebar { 
    border: px solid #ccc;
    padding: 10px;
    background-color: #3b3b3b;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 100vh;
    width: 200px;
  }

.content img {
  max-width: 100%; /* Ensure the image fits within the container */
  max-height: 80vh; /* Limit the height to 80% of viewport height */
  padding-top: 30px;
}
input[type="search"] {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}
button { 
  display: block; 
  margin: 10px 0; 
  padding: 10px; 
  width: 100%; 
}

#roverCard {
  margin: 5px;
}

#imageContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

  .datepicker-date-display {
 background-image: url(/assets/images/spaceBG.jpg);
  }

  .datepicker-day-button:hover {
    background-color: lightgrey;
  }
  .datepicker-modal {
    background-image: url(/assets/images/stars2.jpg) ; 
}


.datepicker { 
  font-family: 'Orbitron', sans-serif; 
  color: black;  
  text-align: center;
}

#imagesCard {
  width: 422px;
}


.btn {
  display: block;
  padding: 5px;
  margin: 5px;
  background-color: #538AC3;
  color: white; 
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #0055cc; 
  transform: scale(1.10); 
}

.row, .col.s2 {
  padding: 0;
  margin: 0;
}

#datePicker:hover {
  background-color: whitesmoke ; 
  border-color: var(--black); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  color: #212529; 
}

#datePicker{
  background-color: whitesmoke;
}


footer a {
  color: lightblue; 
  text-decoration: none; 
}

footer a:hover {
  color: blue;
}

.searchBar {
  width: 83%;
  display: flex;
  flex-direction: column;
}


#modalImage {
  width: 100% !important;
  height: 100% !important;
}

.modal-content {
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.modal{
  width: 90% !important;
  height: 90% !important;
  object-fit: cover;
  overflow-y: hidden !important
}


